*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: RegolaProRegular;
  src: url("fonts/RegolaProRegular.otf");
}


body{
  font-family: RegolaProRegular;
  font-size: 14px;
  line-height: 1.4;
}